$color-black: #121416
$color-green: #0EF6CC
$color-green-dark: #0b7a66
$color-white: #F4FEFD
$color-grey: #1B2223
$color-grey-light: #3A4F50
$color-green-shopify: #5e8e3e

// Global stules
a
    color: $color-white
    text-decoration: none

.debug
    border: 1px solid red !important

.color
    background-color: $color-green
    color: $color-black
    border-radius: 100px
    padding: 5px 10px

.bold
    font-weight: bold

.bordered-text
    color: $color-black
    text-shadow: 2px 0 $color-white, -2px 0 $color-white, 0 2px $color-white, 0 -2px $color-white
    opacity: 0.5

.parallax
    background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    background-size: cover

.daridev-section
    background-color: $color-black
    color: $color-white
    width: 100%
    margin: 0 auto
    font-family: 'Poppins', sans-serif
    position: relative
    z-index: 2

    &:not(.full-width)
        max-width: 1140px

        @media screen and (max-width: 1200px)
            padding: 0 20px
            width: calc(100% - 40px)
            
.transition
    transition: all 0.3s

.cta
    border: 2px solid $color-green
    text-transform: uppercase
    padding: 5px 10px
    display: inline-block
    font-weight: bold
    font-size: 1.5rem
    border-radius: 100px
    padding: 10px 40px
    font-weight: bold
    transition-duration: 0.3s
    transition-property: all !important

    &:hover
        background-color: $color-green !important
        color: $color-black !important
        transform: scale(1.1)

.container
    max-width: 1140px
    margin: 0 auto
    padding: 150px 0

    @media screen and (max-width: 1200px)
        padding: 150px 20px
        width: calc(100% - 40px)

p.text-left
    width: 90%
    max-width: 600px