.index-bussiness-type
    border: 1px solid red
    text-align: center
    // margin: 100px auto
    margin: 100vh auto

    h2
        font-size: 2.5rem

    .buttons
        display: flex
        justify-content: center
        align-items: center
        gap: 30px

    @media screen and (max-width: 600px)
        .buttons
            flex-direction: column
            gap: 20px